@model SMS.ViewModel.CourseInfo.CourseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";

}

<div class="row mt-4">

    <form asp-controller="MasterService" asp-action="CreateSemester" method="post" class="bg-light p-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="d-flex justify-content-end me-5 mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-success ms-3" asp-controller="MasterService" asp-action="GetCourse">Back</a>
        </div>

        <div class="flex-Main">
            <div class="Form-Flex-Container ">
                

                <div class="me-3 mt-3 flex-item">
                    <label asp-for="@Model.CourseModel.CourseName" class="control-label" style="font-size:15px">Course Name</label>
                    <input asp-for="@Model.CourseModel.CourseName" class="form-control mt-2" />
                    <span asp-validation-for="@Model.CourseModel.CourseName" class="text-danger" style="font-size:15px"></span>
                </div>

                <div class="me-3 mt-3 flex-item">
                    <label asp-for="@Model.CourseModel.CourseCode" class="control-label" style="font-size:15px">Course Code</label>
                    <input asp-for="@Model.CourseModel.CourseCode" class="form-control mt-2" />
                    <span asp-validation-for="@Model.CourseModel.CourseCode" class="text-danger" style="font-size:15px"></span>
                </div>

                <div class="me-3 mt-3 flex-item">
                    <label asp-for="@Model.CourseModel.DepartmentId" class="control-label mb-2" style="font-size:15px">Department</label>
                    <select class="form-select" asp-items="@Model.DepartmentModel" asp-for="@Model.CourseModel.DepartmentId">
                        <option>------- Select -------</option>
                    </select>
                    <span asp-validation-for="@Model.CourseModel.DepartmentId" class="text-danger" style="font-size:15px"></span>
                </div>

                <div class="me-3 mt-3 flex-item">
                    <label asp-for="@Model.CourseModel.Credit" class="control-label" style="font-size:15px">Credit</label>
                    <input asp-for="@Model.CourseModel.Credit" class="form-control mt-2" />
                    <span asp-validation-for="CourseModel.Credit" class="text-danger" style="font-size:15px"></span>
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-end me-5 mt-3">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>

    </form>
</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}