@model IEnumerable<SMS.ViewModel.SemesterViewModel>

@{
    ViewData["Title"] = "Semester";
    Layout = "_AdminLayout";
}


<div class="margin-top-100">
    <div class="row">
        <div class="col-8">
            <h3 class="alert alert-light ms-2  mt-3">Semester Info</h3>

            <div class="d-flex justify-content-start ms-3">
                @if (!string.IsNullOrEmpty(ViewBag.Msg))
                {
                    <h5 class="text-danger">@ViewBag.Msg</h5>
                }
            </div>

            <div class="d-flex justify-content-end">
                <a asp-controller="MasterService" asp-action="CreateSemester" class="btn btn-primary ">Create</a>
            </div>

            <table class="table table-responsive-sm border table-bordered ms-3 mt-3" style="font-size:15px;">
                <thead>
                    <tr>
                        <th>
                            Semester
                        </th>
                        <th>
                            Application DeadLine
                        </th> 
                        <th>
                            AddmissionDate
                        </th>
                        <th class="text-center">
                            Edit
                        </th>
                        <th class="text-center">
                            Delete
                        </th>
                        <th class="text-center">
                            Close
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.SemesterName
                            </td> 
                            <td>
                                @item.ApplicationDeadline
                            </td> 
                            <td>
                                @item.AddmissionDate
                            </td>

                            <td class="text-center">
                                @*asp-route-id for Route Values => {controller=Home}/{action=Index}/{id?}*@
                                <a asp-action="" asp-route-id="@item.Id">
                                    <img src="~/image/Edit.png" style="width:20px; height:20px;" class="img-fluid" />
                                </a>
                            </td>

                            <td class="text-center">
                                <a asp-controller="MasterService" asp-action="DeleteSemester" asp-route-id="@item.Id">
                                    <img src="~/image/Delete.png" style="width:20px; height:20px;" class="img-fluid" />
                                </a>
                            </td>

                            @if(item.IsRunning == true)
                            {
                                <td class="text-center">
                                    <a asp-controller="MasterService" asp-action="DeleteSemester" asp-route-id="@item.Id">
                                        <img src="~/image/reject.jpg" style="width:20px; height:20px;" class="img-fluid" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">Closed</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>


